/** body **/
body {
  position: relative;
}


#main-content {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: rgb(220, 255, 255);
  max-height: 100%;
}

#icons .iconlink {
  color:rgb(49, 255, 255) !important;
}

#icons i:hover {
  color:rgb(4, 155, 224) !important;
  transition: 1.5s;
  transform: rotateZ(360deg);
  }
/** navbar **/

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

#intro {
  padding-bottom: 30px;
  margin-bottom: 30px;
}

.navbar-fixed-top {
  top: 0;
  border-width: 0 0 1px;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.navbar {
  margin-bottom: 20px;
  border: 1px solid transparent;
}



/** everything else **/

#portfolio {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30;
  background-color: rgb(91, 150, 199) !important;
}

#portfolio #work {
  padding-bottom: 20px;
  max-width: 50%;
  max-height: 50%;
}

#thumbnail img:hover {
  transition: 0.5s;
  opacity: .5;
}

.img_wrap {
  position: relative;
}

.portfolioRow {
  position: relative;
}

.img_description {
  position: relative;
  visibility: hidden;
}

.img_wrap:hover .img_description {
  transition: 0.5s;
  visibility: visible;

}
/** about me **/

#aboutsection {
  margin-top: 100px;
  margin-bottom: 100px;
}